body
{
	background: #262626;
	margin-top: 20px;
	color: rgb(212, 212, 212);
	max-width: 1100px;
	font-family: sans-serif;
	margin: 1em auto;
	padding-bottom: 8em;
}

h1 {
	margin: 1em auto;
	text-align:center;
}

h2 {
	margin-top: 2em;
	margin-bottom: 1em;
}

h3 {
	margin-top: 2em;
	width: 100%;
}

a:visited,
a:link {
	color: rgb(140, 159, 255);
}
a:hover{
	color: rgb(176, 105, 217);
	text-decoration: none;
}

a:active {
	color: rgb(210, 112, 120);
}

a.button {
	user-select: none;
	padding: 0.5em 0.7em;
	border-radius: 0.5em;
	display: inline-block;
	min-width: 1em;
	background-color: rgb(212, 212, 212,0.1);
}

a.button:hover {
	background-color: rgb(212, 212, 212,0.3);
}

a.button:active {
	background-color: rgb(212, 212, 212,0.2);
}

a.go-to-top {
	float: inline-end;
	font-size: 14px !important;
	font-weight: normal !important;
	font-family: monospace;
}

a.go-to-top::after {
	content: "top of page";
}

pre {
	padding: .5em .7em;
	background-color:#222;
	border-radius: .5em;
	font-size: large;
	color: #ddd;
}

code {
	font-size: large;
	padding: 2px 4px;
	border-radius: 4px;
	background-color: rgba(158, 118, 213, 0.1);
	color: rgb(158, 118, 213);
}

p {
	line-height: 1.4em;
	margin: 1em 0;
}

hr {
	border: none;
	margin: 2em auto;
	margin-top: 4em;
	text-align: center;
	width: 100%;
	font-size: smaller;
	opacity: .4;
	letter-spacing: 1em
  }
hr:after {
	content: "◆◆◆"
}


a.go-home {
	font-weight: bold;
	color: rgb(140, 159, 255);
	width: 100%;
	display: block;
	padding: 1em 0;
	margin: 3em 0;
	text-align: center;
	border-radius: .7em	;
	font-family: monospace;
	font-size: 110%;
}
a.go-home:hover {
	background-color: rgb(44, 48, 69);
}

ul li,
ol li {
	margin: 0.8em 0;
	line-height: 1.4;
}

blockquote {
	display: block;
	margin: 3em 0;
	padding: .5em .7em;
	border-radius: .5em;
	background-color:#474736;
	color: #adad8e;
	border:2px solid #74745f;
}

table.full {
	width: 100%;
}

table.nested {
    width: 100%;
    margin: 0;
    min-width: 500px !important;
}

table.nested td,
table.nested th {
	width: auto !important;
}

.monospaced {
	font-family: monospace !important;
	font-size: larger;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1em;
}

th {
	background-color: #2f2f2f;
	padding: 0.75em 0.5em;
	border: 1px solid  rgb(83, 83, 83);
}

tr {background-color: #292929;}

td {
	padding: 0.63em 0.5em;
	border: 1px solid rgb(83, 83, 83);
	line-height: 1.4em;
}

@media (max-width:1160px) {
	body {
		width: calc(100% - 2em);
		margin: 1em;
	}
}

@media (max-width:800px) {
	a.go-to-top::after {
		content: "⇈";
	}
}